.chat {
    .chat_container {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        border-radius: 10px;
        .chat_users {
            border-right: 1px solid #D8D8D8;
            .chat_list {
                padding: 0 15px;
                min-height: 784px;
                max-height: 784px;
                .chat_user {
                    cursor: pointer;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    .chat_avatar {
                        height: 55px;
                        width: 55px;
                    }
                    .chat_name {
                        margin-left: 15px;
                        font-size: 15px;
                        line-height: 20px;
                        color: #000;
                    }
                }
            }
        }
        .chat_messages {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .chat_user-window {
                padding: 15px 19px;
                border-bottom: 1px solid #D8D8D8;
                .chat_user {
                    display: flex;
                    align-items: center;
                    .chat_avatar {
                        height: 40px;
                        width: 40px;
                    }
                    .chat_name {
                        margin-left: 10px;
                        font-size: 15px;
                        line-height: 20px;
                        color: #000;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 3000px) {
    .chat {
        .chat_container {
            .chat_messages {
                .chat_user-window {
                    .chat_button {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1280px) {
    .chat {
        .chat_container {
            .chat_users {
                .chat_list {
                    min-height: 600px;
                    max-height: 600px;
                }
            }
        }
    }
}

@media screen and(max-width:1024px) {
    .chat {
        min-height: 80vh;
        max-height: 80vh;
        display: flex;
        .chat_container {
            border-radius: 0px;
            border: 0;
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
            .chat_users {
                .chat_list {
                    width: 100vw;
                    padding-left: 5vw;
                    min-height: 55vw;
                    max-height: 55vw;
                }
            }
            .chat_messages {
                width: 100vw;
                .chat_user-window {
                    .chat_button {
                        display: block;
                        color: blue;
                        cursor: pointer;
                        font-size: 22px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .closed {
        display: none !important;
    }
}
