.header {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.03);
    .header_container {
        display: flex;
        justify-content: space-between;
        padding: 18px 25px;
        .header_menu {
            display: flex;
            align-items: center;
            .header_buttons {
                margin-right: 25px;
                .header_button {
                    cursor: pointer;
                }
                .header_button:not(:last-child) {
                    margin-right: 20px;
                }
            }
            .header_profile {
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width:360px) {
    .header {
        .header_container {
            padding: 8px 10px;
            .header_menu {
                .header_buttons {
                    margin-right: 10px;
                }
            }
        }
    }
}