.message-form {
    padding: 0px 19px 15px 20px;
    .message-form_container {
        width: 470px;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        border-radius: 22.5px;
        padding: 6px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .message_smile {
            cursor: pointer;
        }
        .message_input {
            width: 70%;
            border: 0;
        }
        .message_button {
            border: 0;
            background: #fff;
            font-size: 14px;
            line-height: 19px;
            color: #3E8BFF;
            cursor: pointer;
        }
    }
}

@media screen and(max-width:1180px) {
    .message-form {
        .message-form_container {
            width: 380px
        }
    }
}

@media screen and(max-width:1080px) {
    .message-form {
        .message-form_container {
            width: 320px
        }
    }
}

@media screen and(max-width:1024px) {
    .message-form {
        .message-form_container {
            width: 100%
        }
    }
}